:root {
    --all-color: #F7F7F7;
    --all2-color: #ADCAE7;
    --details-color: #C3B1A7;
    --text-color: #22306F;
}

/*общее*/
body {
    margin: 0 0 0 0;
    font-family: FreeMono, monospace;
    background: linear-gradient(to bottom, var(--all-color) 0%, var(--all2-color) 80%);
    font-size: larger;
    
}

p {
    color: var(--text-color);
    text-align: left;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h1 {
    color: var(--text-color);
}

ul {
    color: var(--text-color);
    list-style-type: none;
    
}

li {
    margin-bottom: 10px;
}

main {
    max-width: 60%;
    margin: auto;
}
img{
    border-radius: 15px;
    padding-top: 10px;
}

/*шапка*/
header {
    background-color: var(--all-color);
    margin-bottom: 2%;
    padding: 1%;
    border-bottom: 3px solid var(--details-color);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 19%;
}

header nav .words {
    margin-top: 2.5%;
    font-size: 30px;
    font-weight: bold;
}

header nav a {
    padding-left: 30px;
}

nav img {
    width: 100px;
    height: auto;
    padding-top: 0;
}
nav ul{
    display: flex;
}

/*характеристики*/
.Odetta_sila {
    background-color: var(--all2-color);
    margin-bottom: 2%;
    display: flex;
    border-radius: 15px;
    border: 3px solid var(--details-color);
    outline: 4px solid var(--all2-color);
    padding: 20px 40px 0px 40px;
    height: 450px;

}



/*вижуал*/
.Odetta_visual {
    background-color: var(--all2-color);
    margin-bottom: 2%;
    display: flex;
    border-radius: 15px;
    border: 3px solid var(--details-color);
    outline: 4px solid var(--all2-color);
    padding: 40px 40px 0px 40px;
    height: 350px;
}
.Odetta_visual img{
    padding-top: 10px;
}




/*история*/
.Odetta_history {
    background-color: var(--all2-color);
    margin-bottom: 2%;
    display: flex;
    border-radius: 15px;
    border: 3px solid var(--details-color);
    outline: 4px solid var(--all2-color);
    padding: 20px 40px 0px 40px;
    height: 450px;
}




/*подвал*/
footer {
    background-color: var(--all2-color);
    padding: 1.5%;
    border-top: 3px solid var(--details-color);
}

footer .words {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

footer nav img {
    width: 130px;
    height: auto;
}

footer p {
    margin-bottom: auto;
    text-align: center;
}

